<p id="notice"><%= notice %></p>
<p>First Name: <%= @person.first_name %></p>
<p>Last Name: <%= @person.last_name %></p>
<p></p>
<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
