<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @person.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @person.last_name %>
</p>

<table>
	<strong>Phone numbers:</strong>
	<tr>
		<th>Phone Number</th>
		<th>Edit</th>
		<th>Delete</th>
	</tr>
	<% @person.phone_numbers.each do |phone_number| %>
		<tr>
			<td><%= phone_number.number %></td>
			<td><%= link_to "Edit", edit_phone_number_path(phone_number) %></td>
			<td><%= link_to "Delete", phone_number_path(phone_number), method: :delete, data: {confirm: "Are you sure?"}  %></td>
		</tr>
	<% end %>
</table>

<%= link_to "Add new Phone Number", new_phone_number_path(person_id: @person.id) %>

<%= link_to 'Edit', edit_person_path(@person) %> |
<%= link_to 'Back', people_path %>
